extends layout

block content
  h1= title
  #map
  script.
    var map;
    var latty = #{lat_long.lat};
    var longy = #{lat_long.lng};
    
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: latty, lng: longy},
        zoom: 7
      })
    }
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAetKvyefueKnYHIduJnHdl0HDmQtwUgUs&callback=initMap')
